:root {
  --primary: beige;
  --secundary: #3a2bc7;
  --dark: black;
}

@font-face {
  font-family: Wulkanitalic;
  src: url("/Main/font/WulkanDisplayItalic.ttf");
}
@font-face {
  font-family: "Wulkan";
  src: url("/Main/font/WulkanDisplayMedium.ttf");
}
@font-face {
  font-family: "Wulkanlight";
  src: url("/Main/font/WulkanDisplayLight.ttf");
}
@font-face {
  font-family: culture;
  src: url("/Main/font/culture-bold-webfont.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #322227;
}
p{
    margin-top: 500px;
    font-size: large;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  /*    background-color: var(--secundary); */
  /*    border-bottom: 3px solid var(--dark); */
}

.Logo {
  display: flex;
  margin: 25px;
}

.Logoheader {
  color: beige;
  font-size: 38px;
  text-align: center;
  line-height: 25px;
  margin-top: 0px;
  padding-top: 2px;
  cursor: default;
  overflow-y: hidden;
}

h3 {
  color: var(--primary);
}

.hamburger {
  margin-top: 15px;
  margin-right: 30px;
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  /*    background-color: var(--dark); */
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.hamburger span {
  display: block;
  width: 45px;
  height: 6px;
  margin-bottom: 9px;
  margin-left: 7.5px;
  margin-top: 7px;
  background-color: var(--primary);
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(7px, -1px) rotate(45deg);
  width: 50px;
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(1.7px, 5px) rotate(-45deg);
  width: 50px;
}

.mobile-nav.is-active {
  opacity: 100;
}

.mobile-nav {
  opacity: 0;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 98;
  padding-top: 120px;
  transition: 0.4s;
}

.homelink {
  display: block;
  margin: 0 auto 16px;
  width: 100%;
  max-width: 200px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  padding: 12px 16px;
  background-color: #22181b;
  border-radius: 10px;
  color: var(--primary);
  text-decoration: none;
  overflow-y: hidden;
}

.homelink:hover {
  background-color: transparent;
  -webkit-animation: pop-in 0.4s forwards;
          animation: pop-in 0.4s forwards;
}

.foot1 {
  position: fixed;
  bottom: 0;
  color: var(--primary);
  font-size: 0.9em;
  rotate: 90deg;
  margin-bottom: 35px;
  margin-left: -18px;
}

.foot2 {
  position: fixed;
  bottom: 0;
  color: var(--primary);
  rotate: 90deg;
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-left: 92vw;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #22181b;
  border-radius: 20px;
}
.Hero {
    width: 200%;
    margin-left: -50%;
    z-index: -1;
    margin-top: 0;
    transform: scaleY(2.5);
    line-height: 4vw;
}

h1 {
  font-family: culture;
    text-align: center;
    color: var(--primary);
    font-size: 9vw;
}
.Landertxt{
    background-image: url(/Main/content/giphy-abstrakt.gif);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.oben {
    margin-top: 225px;
}

.unten {
  color: var(--primary);
  padding-bottom: 10px;
}
.P1 {
  margin-top: 640px;
}
.Hero.is-active {
  -webkit-animation: slide 0.4s forwards;
          animation: slide 0.4s forwards;
  -webkit-animation-timing-function: cubic-bezier(0.68, 0.25, 0.47, 1.46);
          animation-timing-function: cubic-bezier(0.68, 0.25, 0.47, 1.46);
}

@media (min-width: 768px) {
    .hamburger {
        display: block;
    }
    .Logoheader {
        margin-left: 45vw;
    }
    .homelink {
        background-color: rgba(255, 255, 255, 0);
        font-size: 50px;
        font-family: "Times New Roman", Times, serif;
        margin: 0 auto 16px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: 80px;
        max-width: none;
        text-align: left;
        margin-left: 32%;
        color: var(--primary);
        text-decoration: none;
        border-radius: 50px;
        transition: 0.2s;
    }
    .Hero {
        height: 100%;
        z-index: -1;
        transform: scaleY(1.8);
        line-height: 3.5vw;
        justify-content: center;
    }
    
    h1 {
        text-align: center;
        color: var(--primary);
        font-size: 8.5vw;
        
    }
    .oben{
        margin-top: 300px;
    }
    .unten {
      padding-bottom: 2vw;
    }
  .tophome {
    margin-top: 16%;
  }
  .homelink:hover {
    text-decoration: underline;
    transform: scaleY(1.2);
  }
  .mobile-nav {
    left: 2000px;
    background-color: #36262bee;
    width: 60vw;
  }
  @-webkit-keyframes slide {
    80% {
      opacity: 100%;
    }
    100% {
      left: 50vw;
    }
  }
  @keyframes slide {
    80% {
      opacity: 100%;
    }
    100% {
      left: 50vw;
    }
  }
  .foot2 {
    margin-left: 98.5%;
  }
  .mobile-nav.is-active {
    -webkit-animation: slide 0.4s forwards;
            animation: slide 0.4s forwards;
    -webkit-animation-timing-function: cubic-bezier(0.68, 0.25, 0.47, 1.46);
            animation-timing-function: cubic-bezier(0.68, 0.25, 0.47, 1.46);
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
}
